<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdonisJS - A fully featured web framework for Node.js</title>
  
    <!-- Include Tailwind CSS -->
    @vite(['resources/css/app.css', 'resources/js/home.js'])
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
</head>