
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <title>Spacelog - {{ title }}</title> 
    <link rel="shortcut icon" href="./img/fav.png" type="image/x-icon">  
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
    @vite(['resources/css/style.css', 'resources/js/scripts.js', 'resources/js/app.js'])
</head>