@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.bg-primary {
  background-color: rgb(0, 58, 119);
}
.text-primary {
  color: rgb(0, 58, 119);
}
.text-danger {
  color: rgb(235 33 40/var(--tw-bg-opacity));
}

.text-success {
  color: #41d001;
}