<!DOCTYPE html>
<html>
@include('partials/header')
<body class="bg-gray-100">

  @include('partials/menu')

  <div class="container mx-auto px-4 py-4">
    <div class="flex my-5 justify-between items-center">
      <span id="date_time_now" class="text-primary text-md"></span>
    </div>
    
    <div class="flex flex-wrap">
      <!-- Card 1 -->
      <div class="w-full md:w-1/3 mb-5">
        <div>
          <div class="max-w-sm bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="header-card bg-primary text-white text-lg font-semibold px-6 py-4">
              OAA
              <p class="sub-header-card text-xs text-white-500 truncate dark:text-white-400">
                Normal under 1s
              </p>
            </div>
            <!-- Card Body -->
            <div class="p-6">
              <div class="flex items-center">
                <div class="flex mr-2">
                    <div>
                      <i class="fa fa-arrow-down fa-2x text-success" id="div_oaa_queryimei_icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="flex-1">
                    <p class="text-xl inline-flex items-center text-success font-semibold" id="div_oaa_queryimei">
                        0s
                    </p>
                    <p class="text-xs text-gray-500 truncate dark:text-gray-400">
                      Query Imei
                    </p>
                </div>
                <div class="inline-flex items-center text-success font-semibold">
                  <button
                    type="button"
                    id="div_oaa_queryimei_btn"
                    class="inline-block rounded bg-primary px-4 pb-[5px] pt-[6px] text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                    <i class="fa fa-list" aria-hidden="true"></i> Detail
                  </button>
                </div>
              </div>
              <hr class="my-4">
              <div class="flex items-center">
                <div class="flex mr-2">
                  <div>
                    <i class="fa fa-arrow-down fa-2x text-success" id="div_oaa_checkstock_icon" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="flex-1">
                    <p class="text-xl inline-flex items-center text-success font-semibold" id="div_oaa_checkstock">
                        0s
                    </p>
                    <p class="text-xs text-gray-500 truncate dark:text-gray-400">
                      Check Stock
                    </p>
                </div>
                <div class="inline-flex items-center text-success font-semibold">
                  <button
                    type="button"
                    id="div_oaa_checkstock_btn"
                    class="inline-block rounded bg-primary px-4 pb-[5px] pt-[6px] text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                    <i class="fa fa-list" aria-hidden="true"></i> Detail
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Card 2 -->
      <div class="w-full md:w-1/3 mb-5">
        <div>
          <div class="max-w-sm bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="header-card bg-primary text-white text-lg font-semibold px-6 py-4">
              OPP
              <p class="sub-header-card text-xs text-white-500 truncate dark:text-white-400">
                Normal under 2s
              </p>
            </div>
            <!-- Card Body -->
            <div class="p-6">
              <div class="flex items-center">
                <div class="flex mr-2">
                  <div>
                    <i class="fa fa-arrow-down fa-2x text-success" id="div_opp_item_icon" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="flex-1">
                    <p class="text-xl inline-flex items-center text-success font-semibold" id="div_opp_item">
                        0s
                    </p>
                    <p class="text-xs text-gray-500 truncate dark:text-gray-400">
                      OPP Item
                    </p>
                </div>
                <div class="inline-flex items-center text-success font-semibold">
                  <button
                    type="button"
                    id="div_opp_item_btn"
                    class="inline-block rounded bg-primary px-4 pb-[5px] pt-[6px] text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                    <i class="fa fa-list" aria-hidden="true"></i> Detail
                  </button>
                </div>
              </div>
              <hr class="my-4">
              <div class="flex items-center">
                <div class="flex mr-2">
                  <div>
                    <i class="fa fa-arrow-down fa-2x text-success" id="div_opp_checkout_icon" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="flex-1">
                    <p class="text-xl inline-flex items-center text-success font-semibold" id="div_opp_checkout">
                        0s
                    </p>
                    <p class="text-xs text-gray-500 truncate dark:text-gray-400">
                      OPP Checkout
                    </p>
                </div>
                <div class="inline-flex items-center text-success font-semibold">
                  <button
                    type="button"
                    id="div_opp_checkout_btn"
                    class="inline-block rounded bg-primary px-4 pb-[5px] pt-[6px] text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                    <i class="fa fa-list" aria-hidden="true"></i> Detail
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Card 3 -->
      <div class="w-full md:w-1/3 mb-5">
        <div>
          <div class="max-w-sm bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="header-card bg-primary text-white text-lg font-semibold px-6 py-4">
              Kafka
              <p class="sub-header-card text-xs text-white-500 truncate dark:text-white-400">
                Normal under 1s
              </p>
            </div>
            <!-- Card Body -->
            <div class="p-6">
              <div class="flex items-center">
                <div class="flex mr-2">
                  <div>
                    <i class="fa fa-arrow-down fa-2x text-success" id="div_kafka_icon" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="flex-1">
                    <p class="text-xl inline-flex items-center text-success font-semibold" id="div_kafka">
                        0s
                    </p>
                    <p class="text-xs text-gray-500 truncate dark:text-gray-400">
                      Kafka
                    </p>
                </div>
                <div class="inline-flex items-center text-success font-semibold">
                  <button
                    type="button"
                    id="div_kafka_btn"
                    class="inline-block rounded bg-primary px-4 pb-[5px] pt-[6px] text-xs font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
                    <i class="fa fa-list" aria-hidden="true"></i> Detail
                  </button>
                </div>
              </div>
              <hr class="my-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal" class="fixed inset-0 z-50 hidden bg-gray-900 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg w-11/12 md:w-1/3">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-semibold">Modal Title</h2>
        <button class="text-gray-500 hover:text-gray-700" id="closeModal">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div id="modalContent"></div>
    </div>
  </div>
  

</body>
</html>
