<!doctype html>
<html lang="en">
    @include('partials/header-cms')
    <body class="bg-gray-100">
        @include('partials/menu-cms')
        @include('partials/sidebar')

        <div class="bg-gray-100 flex-1 p-6 md:mt-16">
            <div class="mt-6 xl:grid-cols-1">

                <div class="card bg-teal-400 border-teal-400 shadow-md text-white">
                    <div class="card-body flex flex-row">
                        <div class="img-wrapper w-40 h-40 flex justify-center items-center">
                            <img src="/images/happy.svg" alt="img title">
                        </div>
                        <div class="py-2 ml-10">
                            <h1 class="h6">Welcome, Agus Siswanto!</h1>
                            <p class="text-white text-xs">We are finished dashboard for your tasks.</p>
                            <ul class="mt-4">
                                <li class="text-sm font-light"><i class="fad fa-check-double mr-2 mb-2"></i> Finish Dashboard</li>
                                <li class="text-sm font-light"><i class="fad fa-check-double mr-2"></i> Publish version 1.0.0</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </body>
</html>
